#reveal .emphasizedElement {
 	font-weight: bold;
 	font-size: 150%;
 	color: #000;
 }

 #reveal h1, h2, h3 {
 	letter-spacing: 0 !important;
	font-weight: bold !important;
 }

 #reveal .agendaTemplateList {
 	color: #888;
 }

 .agendaArrow {
 	min-width: 4px; min-height: 4px; width: 160px; height: 90px;
 	position:absolute;
 }

 @keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}